In [40]:
#转换xlsx为csv
import xlrd
import csv
import codecs
def xlsx_to_csv(path,doc_name):
    workbook = xlrd.open_workbook(path)
    table = workbook.sheet_by_index(0)
    with codecs.open(doc_name, 'w', encoding='utf-8') as f:
        write = csv.writer(f)
        for row_num in range(table.nrows):
            row_value = table.row_values(row_num)
            write.writerow(row_value)

转换csv

In [41]:
if __name__ == '__main__':
    xlsx_to_csv('3.CLUST_DATA(sample).xlsx','train.csv')

In [42]:
#导入pd的df
import pandas as pd
dataframe1 = pd.read_csv('train.csv',sep=',')
dataframe=dataframe1

In [44]:
#在对数据处理之前，需要对数据的缺失值和异常值情况进行了解。Python内有describe()函数，可以了解数据集的缺失值、均值和中位数等。
dataframe.describe().to_csv('dataframeDescribe.csv')

PermissionError: [Errno 13] Permission denied: 'dataframeDescribe.csv'

In [45]:
#发现有一行缺数 count=0 缺数据 删除该列
dataframe.drop(['insure_M_sum'],axis=1,inplace=True)

In [46]:
#发现有一行缺数 count=0 缺数据 删除该列
dataframe.drop(['PARTY_ID'],axis=1,inplace=True)

In [47]:
#展现df
dataframe.head()

,ymon,Asset_Total_Bal,Ttl_asset,Ttl_asset_mavg6,Ttl_eqty_mavg6,Ttl_eqty_trnd_3_6,acct_M_sum,acct_bal_r,bkse_M_sum,bond_M_sum,...,pcntcm_fund_bal_mavg6,pcntcm_gold_bal_mavg6,pcntcm_insure_bal_mavg6,pcntcm_trdpty_bal_mavg6,risktk_r,trans_bal_r,ttl_F_mavg6,ttl_F_trnd_3_6,ttl_M_mavg6,ttl_M_trnd_3_6
0,201704.0,588294.50,588294.50,8.931123e+05,8.931123e+05,0.931745,0.0,0.000000,0.0,580002.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.014099,0.333333,2.000000,96666.666667,2.000000
1,201704.0,100471.12,108831.73,8.768193e+04,8.375551e+04,1.145610,0.0,0.000090,0.0,36005.0,...,0.018062,0.0,0.0,0.000000,0.000150,0.402637,8.166667,0.693878,33294.941667,0.900416
2,201704.0,328558.89,327648.98,1.259078e+06,1.258086e+06,0.823215,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.658804,0.333333,0.000000,183333.333330,0.000000
3,201704.0,92883.72,44343.20,3.385886e+04,3.375886e+04,1.023162,0.0,0.279627,0.0,0.0,...,0.084261,0.0,0.0,0.000000,1.000000,0.720373,0.333333,0.000000,2500.000000,0.000000
4,201704.0,2752652.41,2758798.04,2.608173e+06,2.601059e+06,1.044775,0.0,0.058054,0.0,0.0,...,0.000065,0.0,0.0,0.057417,0.060089,0.033871,2.666667,0.625000,391856.458330,0.090169

数据预处理

In [48]:
for i in dataframe.isnull().any():
    if i == True:
        print('There is null value')

数据格式转换-找出需要被处理的列

In [49]:
columns_to_treat = []
for i in range(len(dataframe.dtypes)):
    dtype = dataframe.dtypes[i]
    if str(dtype) == 'object':
        columns_to_treat.append(i)
        
dict_objects = dict()
for i in columns_to_treat:
    column = dataframe.iloc[:,i]
    if i not in dict_objects:
        dict_objects[i] = []
    for j in column : 
        if j not in dict_objects[i]:
            dict_objects[i].append(j)

In [50]:
columns_to_treat

[16]

In [51]:
dict_objects

{16: ['Chrem_oth_bal',
  'Insure_Invest_bal',
  'Curr_Dpsit_Bal',
  'Fund_Stock_Bal',
  'Chrem_ltkx_bal',
  'Trdpty_Presv_Mgmt_Acct_Bal',
  'Time_Dpsit_Bal',
  'Fund_Bond_Bal',
  'Fund_Mix_Bal',
  'Vouch_Tbond_Bal',
  'Insure_prot_bal',
  'Bank_Card_Dpsit_Bal',
  'acct_nm_bal',
  'Agent_Solid_Gold_Bal',
  'Bank_Card_Od_Bal',
  'Fund_Curr_Bal',
  'Amort_Pay_Bal_ToCny']}

In [52]:
d={'Chrem_oth_bal':1,
'Insure_Invest_bal':2,
'Curr_Dpsit_Bal':3,
'Fund_Stock_Bal':4,
'Chrem_ltkx_bal':5,
'Trdpty_Presv_Mgmt_Acct_Bal':6,
'Time_Dpsit_Bal':7,
'Fund_Bond_Bal':8,
'Fund_Mix_Bal':9,
'Vouch_Tbond_Bal':10,
'Insure_prot_bal':11,
'Bank_Card_Dpsit_Bal':12,
'acct_nm_bal':13,
'Agent_Solid_Gold_Bal':14,
'Bank_Card_Od_Bal':15,
'Fund_Curr_Bal':16,
'Amort_Pay_Bal_ToCny':17
}

In [54]:
''' 18max_prod_type	持有最多的产品种类  18: ['Chrem_oth_bal',
  'Insure_Invest_bal',
  'Curr_Dpsit_Bal',
  'Fund_Stock_Bal',
  'Chrem_ltkx_bal',
  'Trdpty_Presv_Mgmt_Acct_Bal',
  'Time_Dpsit_Bal',
  'Fund_Bond_Bal',
  'Fund_Mix_Bal',
  'Vouch_Tbond_Bal',
  'Insure_prot_bal',
  'Bank_Card_Dpsit_Bal',
  'acct_nm_bal',
  'Agent_Solid_Gold_Bal',
  'Bank_Card_Od_Bal',
  'Fund_Curr_Bal',
  'Amort_Pay_Bal_ToCny']}'''
for i in range(len(dataframe[dataframe.keys()[16]])):
    if dataframe['max_prod_type'][i] in d :
        dataframe.at[i,'max_prod_type'] = d[dataframe['max_prod_type'][i]]
dataframe['max_prod_type'] = dataframe['max_prod_type'].astype(int)

In [55]:
dataframe['max_prod_type']

0       1
1       2
2       3
3       3
4       1
5       1
6       1
7       1
8       1
9       1
10      4
11      1
12      1
13      5
14      1
15      5
16      6
17      3
18      7
19      4
20      1
21      1
22      1
23      8
24      1
25      5
26      3
27      4
28      1
29      9
       ..
970     3
971     6
972     1
973     7
974     1
975     5
976     9
977     1
978    16
979     8
980     2
981     3
982     5
983     1
984     6
985     6
986     2
987     3
988     4
989     9
990     3
991     7
992     3
993     3
994     1
995     3
996     4
997     2
998     7
999    11
Name: max_prod_type, dtype: int32

In [56]:
#查看信息
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 31 columns):
ymon                        1000 non-null float64
Asset_Total_Bal             1000 non-null float64
Ttl_asset                   1000 non-null float64
Ttl_asset_mavg6             1000 non-null float64
Ttl_eqty_mavg6              1000 non-null float64
Ttl_eqty_trnd_3_6           1000 non-null float64
acct_M_sum                  1000 non-null float64
acct_bal_r                  1000 non-null float64
bkse_M_sum                  1000 non-null float64
bond_M_sum                  1000 non-null float64
chrem_M_sum                 1000 non-null float64
fix_bal_r                   1000 non-null float64
fund_M_sum                  1000 non-null float64
gini                        1000 non-null float64
gold_M_sum                  1000 non-null float64
liq_r                       1000 non-null float64
max_prod_type               1000 non-null int32
pcntcm_acct_bal_mavg6       1000 non-null float64
pcntcm_bondttl_bal_mavg6    1000 non-null float64
pcntcm_chrem_bal_mavg6      1000 non-null float64
pcntcm_dpsit_bal_mavg6      1000 non-null float64
pcntcm_fund_bal_mavg6       1000 non-null float64
pcntcm_gold_bal_mavg6       1000 non-null float64
pcntcm_insure_bal_mavg6     1000 non-null float64
pcntcm_trdpty_bal_mavg6     1000 non-null float64
risktk_r                    1000 non-null float64
trans_bal_r                 1000 non-null float64
ttl_F_mavg6                 1000 non-null float64
ttl_F_trnd_3_6              1000 non-null float64
ttl_M_mavg6                 1000 non-null float64
ttl_M_trnd_3_6              1000 non-null float64
dtypes: float64(30), int32(1)
memory usage: 238.4 KB

In [57]:
'''问题：pandas在处理数据时出现以下错误
ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

解决方法：

1、检查数据中是否有缺失值

例如，读取得到的原始数据如下
# 读取数据
train = pd.read_csv('./data/train.csv/train.csv')

# 检查数据中是否有缺失值
np.isnan(train).any()


Flase:表示对应特征的特征值中无缺失值
True：表示有缺失值

2、删除有缺失值的行
train.dropna(inplace=True)

然后在看数据中是否有缺失值


也可以根据需要对缺失值进行填充处理：
train.fillna('100')

这下就不会出现错误了，当然这只是数据中存在缺失值的情况，其他情况还没遇到过。'''
from sklearn.preprocessing import Imputer

dataframe = Imputer().fit_transform(dataframe)

In [58]:
#train_test_split是sklearn.cross_validation
#分为训练集和测试集
from sklearn.cross_validation import train_test_split
trainset, testset = train_test_split(dataframe1, test_size = 0.2)

In [59]:
#展现df
trainset.head()

,ymon,Asset_Total_Bal,Ttl_asset,Ttl_asset_mavg6,Ttl_eqty_mavg6,Ttl_eqty_trnd_3_6,acct_M_sum,acct_bal_r,bkse_M_sum,bond_M_sum,...,pcntcm_fund_bal_mavg6,pcntcm_gold_bal_mavg6,pcntcm_insure_bal_mavg6,pcntcm_trdpty_bal_mavg6,risktk_r,trans_bal_r,ttl_F_mavg6,ttl_F_trnd_3_6,ttl_M_mavg6,ttl_M_trnd_3_6
237,201704.0,77299.77,79043.63,8.472927e+04,8.062658e+04,0.954899,0.0,0.012034,0.0,0.0,...,0.006464,0.000000,0.0,0.000000,0.012185,0.012421,0.666667,0.500000,3.361420e+04,0.010761
183,201704.0,1468617.53,1768544.14,1.439295e+06,1.439295e+06,1.229309,0.0,0.003926,0.0,0.0,...,0.003245,0.363372,0.0,0.000000,0.003972,0.011649,0.333333,2.000000,1.150000e+05,2.000000
958,201704.0,710402.28,710402.28,6.262705e+05,6.262705e+05,1.030580,0.0,0.059746,0.0,0.0,...,0.031809,0.159675,0.0,0.000000,0.071642,0.166045,8.666667,1.461538,2.851106e+05,1.497992
295,201704.0,785834.57,785834.57,7.419235e+05,7.417235e+05,1.047210,0.0,0.721288,0.0,0.0,...,0.000000,0.000000,0.0,0.080408,0.801887,0.100512,0.166667,2.000000,4.750000e+02,2.000000
24,201704.0,2314664.72,2367297.03,4.218321e+06,4.086519e+06,0.793370,0.0,0.086069,0.0,195004.0,...,0.000001,0.021151,0.0,0.006256,0.087877,0.020570,9.666667,1.000000,1.672335e+06,1.125347

In [60]:
testset.head()

,ymon,Asset_Total_Bal,Ttl_asset,Ttl_asset_mavg6,Ttl_eqty_mavg6,Ttl_eqty_trnd_3_6,acct_M_sum,acct_bal_r,bkse_M_sum,bond_M_sum,...,pcntcm_fund_bal_mavg6,pcntcm_gold_bal_mavg6,pcntcm_insure_bal_mavg6,pcntcm_trdpty_bal_mavg6,risktk_r,trans_bal_r,ttl_F_mavg6,ttl_F_trnd_3_6,ttl_M_mavg6,ttl_M_trnd_3_6
496,201704.0,1103605.08,1123605.08,1.119191e+06,1.119191e+06,1.002704,0.0,0.936628,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.981350,0.045572,0.333333,1.000000,175000.000000,1.619048
131,201704.0,4101825.48,4369932.74,4.274706e+06,4.263215e+06,0.994466,0.0,0.192371,0.0,115232.0,...,0.0,0.027529,0.000001,0.000000,0.193653,0.006617,2.000000,1.333333,247538.333330,1.057385
209,201704.0,1037218.08,1787218.08,1.789697e+06,1.789697e+06,0.999475,0.0,0.027304,0.0,0.0,...,0.0,0.000000,0.000000,0.025565,0.027904,0.021497,1.000000,1.000000,569.056667,1.024678
687,201704.0,1472662.84,1294021.52,1.323762e+06,1.323722e+06,0.974110,0.0,0.366173,1001.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.486559,0.247423,2.666667,1.250000,118500.000000,1.983122
154,201704.0,318845.60,319046.21,3.074894e+05,3.074894e+05,1.025198,0.0,0.252114,0.0,130002.0,...,0.0,0.000000,0.000000,0.000853,0.264384,0.046413,0.333333,2.000000,21666.666667,2.000000

In [61]:
trainset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 237 to 617
Data columns (total 31 columns):
ymon                        800 non-null float64
Asset_Total_Bal             800 non-null float64
Ttl_asset                   800 non-null float64
Ttl_asset_mavg6             800 non-null float64
Ttl_eqty_mavg6              800 non-null float64
Ttl_eqty_trnd_3_6           800 non-null float64
acct_M_sum                  800 non-null float64
acct_bal_r                  800 non-null float64
bkse_M_sum                  800 non-null float64
bond_M_sum                  800 non-null float64
chrem_M_sum                 800 non-null float64
fix_bal_r                   800 non-null float64
fund_M_sum                  800 non-null float64
gini                        800 non-null float64
gold_M_sum                  800 non-null float64
liq_r                       800 non-null float64
max_prod_type               800 non-null int32
pcntcm_acct_bal_mavg6       800 non-null float64
pcntcm_bondttl_bal_mavg6    800 non-null float64
pcntcm_chrem_bal_mavg6      800 non-null float64
pcntcm_dpsit_bal_mavg6      800 non-null float64
pcntcm_fund_bal_mavg6       800 non-null float64
pcntcm_gold_bal_mavg6       800 non-null float64
pcntcm_insure_bal_mavg6     800 non-null float64
pcntcm_trdpty_bal_mavg6     800 non-null float64
risktk_r                    800 non-null float64
trans_bal_r                 800 non-null float64
ttl_F_mavg6                 800 non-null float64
ttl_F_trnd_3_6              800 non-null float64
ttl_M_mavg6                 800 non-null float64
ttl_M_trnd_3_6              800 non-null float64
dtypes: float64(30), int32(1)
memory usage: 196.9 KB

In [62]:
#kmeans聚类方法
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters = 4)
s=kmeans.fit(trainset)
''' 
y_pred = kmeans.predict(testset)
 
from sklearn import metrics
 
print(metrics.adjusted_rand_score(testset, y_pred))
'''

' \ny_pred = kmeans.predict(testset)\n \nfrom sklearn import metrics\n \nprint(metrics.adjusted_rand_score(testset, y_pred))\n'

In [66]:
r1 = pd.Series(kmeans.labels_).value_counts()#统计各个类别的数目
r2 = pd.DataFrame(kmeans.cluster_centers_)#找出聚类中心
r = pd.concat([r2,r1],axis=1)#得到聚类中心对应的类别下的数目

In [67]:
r

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,0
0,201704.0,2.485222e+06,2.440865e+06,2.284570e+06,2.275208e+06,1.065019,0.0,0.205356,66194.295918,354633.622449,...,0.046416,0.003302,0.005410,0.273881,0.171043,1.743197,1.018988,3.726695e+05,1.030770,98
1,201704.0,4.274384e+05,3.946090e+05,4.061080e+05,4.033951e+05,1.016836,0.0,0.229183,3901.140401,37521.335244,...,0.027181,0.007620,0.009544,0.394033,0.286611,1.211318,0.940633,1.098775e+05,0.951382,698
2,201704.0,2.454979e+07,2.531791e+07,2.541116e+07,2.540660e+07,0.994040,0.0,0.186399,0.000000,5830.500000,...,0.000000,0.000000,0.101885,0.186485,0.000232,3.083333,0.479532,1.490807e+06,0.071078,2
3,201704.0,1.435486e+07,1.425918e+07,1.536005e+07,1.535063e+07,1.044581,0.0,0.290730,0.000000,0.000000,...,0.004275,0.001964,0.000000,0.308039,0.036273,2.416667,0.826316,2.550034e+06,0.406681,2

In [68]:
r2

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,201704.0,2.485222e+06,2.440865e+06,2.284570e+06,2.275208e+06,1.065019,0.0,0.205356,66194.295918,354633.622449,...,0.040895,0.046416,0.003302,0.005410,0.273881,0.171043,1.743197,1.018988,3.726695e+05,1.030770
1,201704.0,4.274384e+05,3.946090e+05,4.061080e+05,4.033951e+05,1.016836,0.0,0.229183,3901.140401,37521.335244,...,0.118260,0.027181,0.007620,0.009544,0.394033,0.286611,1.211318,0.940633,1.098775e+05,0.951382
2,201704.0,2.454979e+07,2.531791e+07,2.541116e+07,2.540660e+07,0.994040,0.0,0.186399,0.000000,5830.500000,...,0.000000,0.000000,0.000000,0.101885,0.186485,0.000232,3.083333,0.479532,1.490807e+06,0.071078
3,201704.0,1.435486e+07,1.425918e+07,1.536005e+07,1.535063e+07,1.044581,0.0,0.290730,0.000000,0.000000,...,0.001145,0.004275,0.001964,0.000000,0.308039,0.036273,2.416667,0.826316,2.550034e+06,0.406681