In [22]:
import pandas as pd
import numpy as np
#加载数据
#cvs

df = pd.read_csv('data.csv')

In [23]:
df.columns

Index(['id', 'y', 'city', 'mar_status', 'age', 'xaccount_age', 'cred_limit',
       'this_bill_rate', 'this_bill_mp', 'last_mp_days', 'six_bill_num',
       'six_bill_avg_amt', 'six_cycle_mp_num', 'six_cycle_mp_avg_amt',
       'six_bill_avg_debt_rate', 'six_bill_low_repay_num', 'six_optial_mp_num',
       'six_optial_mp_avg_amt', 'epp_nbr_12m', 'alop_nbr_12m',
       'epp_avg_amt_12m', 'alop_avg_amt_12m', 'consume_num_session12',
       'consume_num_session6', 'consume_num_session3', 'consume_num_session',
       'consume_amt_session12', 'consume_amt_session6', 'consume_amt_session3',
       'consume_amt_session', 'month_avg_use_year', 'month_avg_use_month6',
       'month_avg_use_month3'],
      dtype='object')

In [32]:
#规格化
#方法1
s = (df['consume_num_session3'] - df['consume_num_session3'].min())/(df['consume_num_session3'].max() - df['consume_num_session3'].min())
#方法2
#s = (df['month_avg_use_month6'] - df['month_avg_use_month6'].mean()/(df['month_avg_use_month6'].std()))
#标准化处理
#df1=(df-df.mean(axis=0))/(df.std(axis=0))
#'''#标准差算法2-归一 探索，结果不好
#df2=(df-df.min())/(df.max()-df.min())'''

In [35]:
df['consume_num_session3'].mean()

22.3463

In [36]:
s.std()

0.05058496469367015

In [17]:

#安全删除，如果用del是永久删除
df2 = df
#df2 = df.drop(['month_avg_use_month6'],axis=1)

#把规格化的那一列插入到数组中,最开始的14是我把他插到了第15lie
df2['month_avg_use_month6_std2']=s
#df2.insert(14,'month_avg_use_month6_std',s)

#print（df2.columns[13:15]）

In [18]:
df2.columns

Index(['id', 'y', 'city', 'mar_status', 'age', 'xaccount_age', 'cred_limit',
       'this_bill_rate', 'this_bill_mp', 'last_mp_days', 'six_bill_num',
       'six_bill_avg_amt', 'six_cycle_mp_num', 'six_cycle_mp_avg_amt',
       'month_avg_use_month6_std', 'six_bill_avg_debt_rate',
       'six_bill_low_repay_num', 'six_optial_mp_num', 'six_optial_mp_avg_amt',
       'epp_nbr_12m', 'alop_nbr_12m', 'epp_avg_amt_12m', 'alop_avg_amt_12m',
       'consume_num_session12', 'consume_num_session6', 'consume_num_session3',
       'consume_num_session', 'consume_amt_session12', 'consume_amt_session6',
       'consume_amt_session3', 'consume_amt_session', 'month_avg_use_year',
       'month_avg_use_month6', 'month_avg_use_month3',
       'month_avg_use_month6_std2'],
      dtype='object')

In [19]:
df2.describe().T

,count,mean,std,min,25%,50%,75%,max
id,10000.0,16891.760500,11923.329983,0.000000,6297.250000,14943.500000,27106.500000,3.999200e+04
y,10000.0,0.199500,0.399644,0.000000,0.000000,0.000000,0.000000,1.000000e+00
city,10000.0,60.699400,42.824365,0.000000,18.000000,57.000000,96.000000,1.390000e+02
mar_status,10000.0,0.675400,0.929796,0.000000,0.000000,0.000000,2.000000,2.000000e+00
age,10000.0,33.778400,7.950498,19.000000,28.000000,32.000000,38.000000,7.400000e+01
xaccount_age,10000.0,23.422200,26.014358,1.000000,7.000000,14.000000,23.000000,1.450000e+02
cred_limit,10000.0,28197.198900,36234.316972,1.000000,6500.000000,18000.000000,35000.000000,5.000000e+05
this_bill_rate,10000.0,0.482938,0.479739,0.000000,0.111086,0.386447,0.835856,1.697924e+01
this_bill_mp,10000.0,10328.012341,16418.660196,0.000000,1613.560000,4692.610000,13298.132500,4.669180e+05
last_mp_days,10000.0,6500.546500,4668.516588,1.000000,272.000000,9999.000000,9999.000000,9.999000e+03
six_bill_num,10000.0,5.258700,1.485932,1.000000,5.000000,6.000000,6.000000,6.000000e+00
six_bill_avg_amt,10000.0,10488.702262,15774.975815,-9002.150000,2194.707500,5521.700000,12718.320000,3.994140e+05
six_cycle_mp_num,10000.0,0.354800,0.873037,0.000000,0.000000,0.000000,0.000000,5.000000e+00
six_cycle_mp_avg_amt,10000.0,2227.685166,8820.798447,0.000000,0.000000,0.000000,0.000000,2.657920e+05
month_avg_use_month6_std,10000.0,0.007458,0.012868,0.000000,0.002372,0.005824,0.011233,1.000000e+00
six_bill_avg_debt_rate,10000.0,1.172103,1.612460,-1.440842,0.274150,0.666278,1.525190,4.034583e+01
six_bill_low_repay_num,10000.0,0.978100,1.602647,0.000000,0.000000,0.000000,1.000000,6.000000e+00
six_optial_mp_num,10000.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
six_optial_mp_avg_amt,10000.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
epp_nbr_12m,10000.0,1.226500,3.057373,0.000000,0.000000,0.000000,1.000000,1.020000e+02
alop_nbr_12m,10000.0,0.318700,0.980115,0.000000,0.000000,0.000000,0.000000,2.400000e+01
epp_avg_amt_12m,10000.0,810.992281,2380.266311,0.000000,0.000000,0.000000,613.522500,4.812342e+04
alop_avg_amt_12m,10000.0,602.073626,2431.722290,0.000000,0.000000,0.000000,0.000000,5.083333e+04
consume_num_session12,10000.0,66.743300,144.067846,0.000000,9.000000,25.000000,64.000000,2.839000e+03
consume_num_session6,10000.0,39.282800,80.052553,0.000000,6.000000,15.000000,38.000000,1.689000e+03
consume_num_session3,10000.0,22.346300,45.728808,0.000000,3.000000,8.000000,21.000000,9.040000e+02
consume_num_session,10000.0,8.534800,17.485828,0.000000,1.000000,3.000000,8.000000,2.710000e+02
consume_amt_session12,10000.0,77657.745633,147725.221823,0.000000,9943.375000,31161.845000,86581.165000,3.956771e+06
consume_amt_session6,10000.0,46445.630615,83204.890301,0.000000,6449.990000,20000.000000,53806.420000,2.655518e+06
consume_amt_session3,10000.0,26009.843583,45592.331954,0.000000,3508.062500,11634.440000,31408.000000,1.451518e+06
consume_amt_session,10000.0,9981.344644,17264.501651,0.000000,960.000000,4000.000000,12444.197500,4.920180e+05
month_avg_use_year,10000.0,0.417635,0.656466,0.000000,0.148722,0.332295,0.613626,4.810714e+01
month_avg_use_month6,10000.0,0.418581,0.722189,0.000000,0.133156,0.326865,0.630470,5.612500e+01
month_avg_use_month3,10000.0,0.422886,0.495612,0.000000,0.107737,0.331387,0.663169,2.583333e+01
month_avg_use_month6_std2,10000.0,-0.161020,0.722189,-0.579601,-0.446444,-0.252736,0.050869,5.554540e+01

In [20]:
df5=(df-df.mean(axis=0))/(df.std(axis=0))

In [21]:
df5.describe()

,id,y,city,mar_status,age,xaccount_age,cred_limit,this_bill_rate,this_bill_mp,last_mp_days,...,consume_num_session3,consume_num_session,consume_amt_session12,consume_amt_session6,consume_amt_session3,consume_amt_session,month_avg_use_year,month_avg_use_month6,month_avg_use_month3,month_avg_use_month6_std2
count,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,...,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04
mean,-1.168243e-15,8.164847e-14,1.488143e-16,-2.200085e-15,1.986911e-16,-3.522183e-17,-1.149403e-15,3.216316e-17,2.575501e-15,8.130407e-15,...,1.695810e-16,9.157675e-17,3.200093e-16,1.554865e-15,1.038758e-15,-9.983070e-16,4.829886e-16,-5.450584e-16,1.726969e-15,-1.887734e-15
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-1.416698e+00,-4.991937e-01,-1.417403e+00,-7.263956e-01,-1.858802e+00,-8.619163e-01,-7.781628e-01,-1.006667e+00,-6.290411e-01,-1.392208e+00,...,-4.886701e-01,-4.880981e-01,-5.256905e-01,-5.582079e-01,-5.704872e-01,-5.781426e-01,-6.361867e-01,-5.796007e-01,-8.532601e-01,-5.796007e-01
25%,-8.885530e-01,-4.991937e-01,-9.970819e-01,-7.263956e-01,-7.267973e-01,-6.312745e-01,-5.988025e-01,-7.751132e-01,-5.307651e-01,-1.334160e+00,...,-4.230659e-01,-4.309090e-01,-4.583806e-01,-4.806886e-01,-4.935431e-01,-5.225372e-01,-4.096375e-01,-3.952218e-01,-6.358780e-01,-3.952218e-01
50%,-1.633990e-01,-4.991937e-01,-8.638540e-02,-7.263956e-01,-2.236841e-01,-3.621923e-01,-2.814238e-01,-2.011312e-01,-3.432316e-01,7.493715e-01,...,-3.137256e-01,-3.165306e-01,-3.147459e-01,-3.178375e-01,-3.153031e-01,-3.464534e-01,-1.299989e-01,-1.269972e-01,-1.846175e-01,-1.269972e-01
75%,8.567019e-01,-4.991937e-01,8.243111e-01,1.424613e+00,5.309856e-01,-1.622950e-02,1.877447e-01,7.356463e-01,1.808991e-01,7.493715e-01,...,-2.944096e-02,-3.058477e-02,6.040552e-02,8.846583e-02,1.184005e-01,1.426542e-01,2.985541e-01,2.933980e-01,4.848200e-01,2.933980e-01
max,1.937398e+00,2.003030e+00,1.828412e+00,1.424613e+00,5.059004e+00,4.673488e+00,1.302088e+01,3.438599e+01,2.780921e+01,7.493715e-01,...,1.928005e+01,1.501017e+01,2.625898e+01,3.135720e+01,3.126640e+01,2.792068e+01,7.264580e+01,7.713556e+01,5.127084e+01,7.713556e+01

In [41]:
#对每一列进行标准化（每个数值在0-1之间）
import numpy as np
import pandas as pd
np.random.seed(1)
df = pd.DataFrame(np.random.randn(4,4)* 4 + 3)

In [43]:
#方法一
df1=df.apply(lambda x:(x-np.min(x))/(np.max(x)-np.min(x)))  
#方法二
#df2=(df - df.min())/(df.max()-df.min())

SyntaxError: invalid character in identifier (<ipython-input-43-ce3cab1b2796>, line 2)